body {
    background: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color:  #001e4d;
    padding: 20px;
    text-align: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 70px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #333;
}
#slogan{
    text-align: center;
}
#me{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#quiz-container {
  
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: #001e4d;
    color: #fff;
}

#quiz-page img {
    max-width: 100%;
    height: auto;
}
footer {

    
    text-align: center;
    padding: 40px;
    background-color: #001e4d;
    color: #fff;
    bottom: 0px;
}